<div class="container">
  <div class="grid-container">
    <div class="text-container">
      <h1>Tu compra ha sido realizada con éxito!</h1>
      <p>Pronto recibirás un correo de confirmación con los detalles de tu pedido.</p>
      <p>Si tienes preguntas o necesitas ayuda, no dudes en contactarnos.</p>
      <div class="submit-btn-container">
        <button (click)="navigateHome()">Volver a inicio</button>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/kittyOk.JPG" alt="Success Cat" />
    </div>
  </div>
</div>
