.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 500px; 
  width: 100%; 
  position: relative;
  transition: transform 0.3s ease-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}

.modal-content {
  transform: scale(0.7);
  opacity: 0;
  animation: scaleIn 0.3s forwards;
}

@keyframes scaleIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

 

button {
  background-color: #DD9243;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

  button:hover {
    background-color: #BB7327;
  }
