/* Estilos generales del formulario */
.container {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  margin: 0; 
  padding: 0; 
  position: relative; 
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  display: flex;
  justify-content: space-between; 
}

.column {
  display: flex;
  flex-direction: column;
  width: 48%; 
}

.user-details, .shipping-address {
  margin-bottom: 20px;
}

/* Estilos para los campos de entrada, select y área de texto */
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FBF7F2;
  font-size:12px;
}

h1, h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.submit-btn-container {
  display: flex;
  justify-content: center; 
}

button {
  background-color: #E6973C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

  button:hover {
    background-color: #D77A0F;
  }

@media (max-width: 600px) {
  .row {
    flex-direction: column; 
  }

  .column {
    width: 100%; 
  }

  .form-container {
    padding: 10px;
    width: 90%;
  }
}
