/* Estilos generales del formulario */

.container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100vh; /* Usa el alto completo de la ventana del navegador */
  width: 100vw; /* Usa el ancho completo de la ventana del navegador */
  margin: 0; /* Elimina cualquier margen por defecto */
  padding: 0; /* Elimina cualquier padding por defecto */
  position: relative; /* Para asegurar centrado absoluto */
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.right-col {
  padding: 0 20px; /* Espacio superior */
}


.user-details {
  border: 2px solid #ECB779; /* Borde naranja alrededor de la columna derecha */
  padding: 30px; /* Remueve el padding superior para alinear con el borde del título */
  border-radius: 10px;
  position: relative;
}

.submit-btn-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
}



/* Estilos para los campos de entrada del formulario */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box; /* Asegura que padding y border no aumenten el ancho */
  border-color: #fff; /* Cambia el color del borde a naranja al enfocar */
  background-color: #FCF5ED; /* Un fondo muy suave de naranja */
}



h1 {
  text-align: center; /* Centra el título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.h2 {
  margin-top: 0; /* Ajusta según sea necesario para alinear con el título izquierdo */
}

/* Estilos para los botones */
button {
  background-color: #E6973C; /* Naranja */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background 0.3s ease;
  cursor: pointer;
  border-radius: 20px; /* Bordes redondeados para el botón */
}

  button:hover {
    background-color: #D77A0F; /* Un naranja más oscuro para el hover */
  }


@media (max-width: 600px) {
  .form-container {
    padding: 10px;
    width: 90%;
  }
}

.error-message {
  color: #D55B10;
}
