/* Estilos generales del contenedor de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100vw;
  background-color: #F7F5F2; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  border-radius: 10px; 
}

.form-container {
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff; 
  width: auto;
  max-width: 500px; 
  margin: auto; 
}

/* Estilos para los elementos del formulario */
.form-group {
  margin-bottom: 20px; 
}

.form-control {
  width: 100%;
  max-width: 300px; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  background-color: #FCF5ED; 
  margin: 0 auto; 
  display: block;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333; 
}

/* Estilos para el botón de submit */
.btn-primary {
  background-color: #E6973C; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px; 
  cursor: pointer;
  display: block;
  margin: 20px auto; 
  transition: background 0.3s ease;
}

  .btn-primary:hover {
    background-color: #D77A0F; 
  }

/* Estilos de respuesta para pantallas pequeñas */
@media (max-width: 600px) {
  .form-control, .btn-primary {
    width: 90%; 
  }
}

h2 {
  color: #333; 
  margin-bottom: 20px; 
}
